
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 30px;
}

.App-link {
  color: #61dafb;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

aside {
  flex-grow: 1;
  width: min-content;
}

.aside-topics {
  display: flex;
  flex-wrap: wrap;
}

.content-main {
  flex-grow: 2;
  width: min-content;
}

.content-main-comments input{
  display: block;
}

section button{
  height: min-content;
}

.card {
  display: flex;
}

.button {
  background-color:none;
}

.buttonOn {
  background-color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
